# Strava client and athlete config #
####################################
/config/*.config

# Explicit doctest files #
##########################
/doc/*.doctest
/cases/compare_garmin_vectors.py
/cases/compare_rides.ipynb
/cases/.ipynb_checkpoints/
